:root {
    --primary: #fd2d01;
    --secondary: #ffd7d7;
    --tertiary: #4e5166;
}
*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_app {
    width: 100%;
    flex-direction: column;
}
.title {
    font-size: 3rem;
    margin: 1rem 0;
}
/* ---------BANNER---------- */
.logo_banner {
    width: 35%;
    height: 9em;
    object-fit: cover;
}
/* ----------FOOTER---------- */
footer {
    width: 100%;
    flex-direction: column;
    padding: 2em 0;
}
.ul_footer {
    width: 80%;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 1.3em;
    color: var(--tertiary);
    font-size: 1.3em;
}
.logo_footer {
    width: 20%;
    height: 9em;
    object-fit: cover;
}
