:root {
    --primary: #fd2d01;
    --secondary: #ffd7d7;
    --tertiary: #4e5166;
}
.container_addpost {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form_addpost {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 1em 0;
    padding: 1em;
    color: var(--secondary);
    background-color: var(--tertiary);
}
#input_search::placeholder {
    color: var(--secondary);
}
.label_addpost {
    width: 60%;
    font-size: 1.5em;
    margin: 0.5em 0;
}
.textarea_addpost {
    width: 100%;
    font-size: 1rem;
    border-radius: 0.5em;
    margin: 0.5em 0;
    padding: 0.2em;
}
.author_like {
    width: 80%;
    display: flex;
    justify-content: space-between;
}
