/* ---------NAV BAR---------- */
.nav_bar_notConnected,
.container_form {
    width: 30%;
}
.nav_bar_notConnected,
.nav_bar_connected {
    width: 45%;
    height: 2.5em;
    font-size: 1.3em;
    background-color: var(--tertiary);
    border-radius: 3em;
    padding: 0.5em;
}
.nav-link {
    width: 100%;
    margin: 0;
    color: #ffd7d7;
    font-size: 1em;
    text-decoration: none;
    text-align: center;
}
