:root {
    --primary: #fd2d01;
    --secondary: #ffd7d7;
    --tertiary: #4e5166;
}
.container_postList {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title_posts_list {
    font-size: 3rem;
    margin: 2rem 0;
}
#input_search::placeholder {
    color: var(--tertiary);
}
.input_search_post {
    font-size: 1.5em;
    border-radius: 0.5em 0 0 0.5em;
    padding: 0.2em;
    border: 0.1em solid #6a6e8a;
}
.search_btn {
    font-size: 1.5em;
    border-radius: 0 0.5em 0.5em 0;
    padding: 0.2em;
    border: 0.1em solid #6a6e8a;
    border-left: 0;
    color: var(--tertiary);
    background-color: #ffd7d7;
}
.post_list_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.post_list_item {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 0;
    padding: 1em;
    border-radius: 1em;
    border: 0.1em solid var(--secondary);
    color: var(--secondary);
    background-color: var(--tertiary);
    text-decoration: none;
    box-shadow: 0.2em 0.2em 0.2em #4e5166;
}
.post_title {
    text-align: center;
    margin: 1rem 0;
}
.post_description {
    margin: 1rem 0;
}
.postList_img {
    width: 90%;
}
.author_like {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}
